APP_ENV=production
GIN_MODE=release

CLIENT_ID=xxxxxxxxxxxxxxxx.apps.googleusercontent.com
CLIENT_SECRET=xxxxxxxxxxxxxxxx

REDIRECT_URL=https://api.yourdomain.com/auth/google/callback

DB_HOST=localhost
DB_PORT=5432
DB_USER=DB_User_Name
DB_PASSWORD=Your_Secure_Password
DB_NAME=ats
